.QuizeChart {
    border-radius: 10px;
    box-shadow: 0px 7.0496907234191895px 28.198762893676758px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    max-width: 385px;
    max-width: 330px;
    background-color: white;
    width: 385px;
    height: 302px;
}

.legends {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.legends .details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.legend .dot {
    width: 11.5px;
    height: 11.5px;
    border-radius: 100%;
}

.legend small {
    font-size: 11px;
    line-height: 11px;

}

.legend h3 {
    line-height: 11px;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (min-width:1616px) {
    .QuizeChart {
        max-width: 385px;
    }
}