.DailyBarChart {
    width: 589px;
    height: 302px;
    border-radius: 10px;
    box-shadow: 0px 7.0496907234191895px 28.198762893676758px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    background-color: white;
}