.App {
  background-color: #E7EFFF;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-18 {
  gap: 18px;
}

.gap-38 {
  gap: 38px;
}

.gap-30 {
  gap: 30px;
}

.graph-title {
  font-size: 21px;
  font-weight: 300;
  padding-bottom: 11px;
}

